.sd-custom-cube-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  perspective: 1000px;
  perspective-origin: 50% 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid green;

  .cube {
    position: absolute;
    //border: 3px solid orange;
    height: 600px;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 2s;
    transform-origin: 50% 50% -150px;
    transform-style: preserve-3d;

    &.front-visible {
      //transform: translateZ(600px);
    }

    &.back-visible {
      transform: rotateY(-180deg);
    }

    &.bottom-visible {
      transform: rotateX(90deg);
    }

    &.top-visible {
      transform: rotateX(-90deg)
    }

    &.right-visible {
      transform: rotateY(-90deg);
    }

    &.left-visible {
      transform: rotateY(90deg);
    }


    .side {
      height: 600px;
      width: 600px;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .front {
      background-color: rgba(200, 0, 0, 0.9);
    }

    .left {
      background-color: rgba(200, 200, 0, 0.9);
      transform: translateZ(-150px) translateX(-150px) rotateY(270deg);
    }

    .bottom {
      background-color: rgba(0, 200, 200, 0.9);
      transform: translateY(150px) translateZ(-150px) rotateX(270deg);
    }

    .top {
      background-color: rgba(200, 0, 200, 0.9);
      transform: translateY(-150px) translateZ(-150px) rotateX(90deg);
    }

    .right{
      background-color: rgba(0, 0, 200, 0.9);
      transform: translateX(150px) translateZ(-150px) rotateY(90deg);
    }

    .back{
      background-color: rgba(0, 200, 0, 0.9);
      transform: translateZ(-300px) rotateY(180deg);
    }



  }
}
